In [ ]:
# Question 1

listOne  =  ['a', 'b', 'c', 'd']
listTwo =  ['e', 'f', 'g']
newList = listOne + listTwo
newList
#Answer A
# listOne.extend(listTwo)
# newList.extend(listOne, listTwo)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# QUESTION 2

aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])
print(aList[1][3])

# ANSWER C

Y
16

In [ ]:
# Question 3

sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])
# ANSWER A

40
[20, 30, 40]

In [ ]:
# QUESTION 4
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])
# Answer B

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [ ]:
# Question 5

sampleList = [10, 20, 30, 40, 50]
sampleList.append(60)
print(sampleList)

sampleList.append(60)
print(sampleList)
# Answer B

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 60]

In [ ]:
# Question 6
my_list = ["Hello", "Python"]
print("-".join(my_list))
# ANSWER B

Hello-Python

In [ ]:
# Quesion 7. In Python, list is mutable
# Answer True (B)

In [ ]:
# Question 8
resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)
# Answer A

['Hello Dear', 'Hello Bye', 'Good Dear', 'Good Bye']

In [ ]:
# Explanation for 8th
for x in ['Hello ', 'Good ']:
  for y in ['Dear', 'Bye']:
    print(x+y)

Hello Dear
Hello Bye
Good Dear
Good Bye

In [ ]:
# 9. What is the output of the following?
aList = [5, 10, 15, 25]
print(aList[::-2])
# as we are doing negetive steps it default starts from -1 and goes till  -4
# Answer C

[25, 10]

In [ ]:
# Question 10
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))
# Answer B its zara as it starts from z

zara

In [ ]:
# Question 11
aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)
# Answer A

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
# Question 12
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)
# Answer A

[]

In [ ]:
# Question 13
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)
# Answer B

[4, 20, 24, 28]

In [ ]:
# Question 14 What is the output of the following
l = [None] * 10
print(len(l))

10

In [ ]:
# Question 15
aList = ['a', 'b', 'c', 'd']
# newList = copy(aList)
newList = aList.copy()
# print(newList)
# newList.copy(aList)
newList = list(aList)
print(newList)
# Answer B,D

['a', 'b', 'c', 'd']

In [ ]:
# Question 16
sampleList = [10, 20, 30, 40, 50]
sampleList.pop()
print(sampleList)
sampleList.pop(2)
print(sampleList)
# Answer C

[10, 20, 30, 40]
[10, 20, 40]

In [ ]:
# Question 17
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}
set3 = set2.difference(set1)
print(set3)

{'Pink', 'Blue'}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}

print(set1.issubset(set2))
print(set2.issuperset(set1))
# Answer B

True
True

In [ ]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}
set1.union(set2)
# Answr b

{'Black', 'Blue', 'Orange', 'Pink', 'Yellow'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Blue")
print(sampleSet)
# Answer A

{'Black', 'Orange', 'Yellow'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
print(sampleSet[1])
# Answer b

TypeError: ignored

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.update(["Blue", "Green", "Red"])
print(sampleSet)
# Answer A

{'Orange', 'Black', 'Green', 'Yellow', 'Red', 'Blue'}

In [ ]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}
set1.symmetric_difference(set2)
# Answer b

{'Black', 'Blue', 'Pink', 'Yellow'}

In [ ]:
set2 = set1
print(set2)

{'Black', 'Orange', 'Yellow'}

In [ ]:
set2 = set1.copy()
set2 = set(set1)
set2.update(set1)
print(set2)
# A B

{'Orange', 'Yellow', 'Black'}

In [ ]:
aSet = {1, 'PYnative', 'abc', 'xyz',True}
print(aSet)
# Answer C

{1, 'xyz', 'abc', 'PYnative'}

In [ ]:
# Question 26
# Answer A

In [ ]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}

set3 = set1.union(set2)
print(set3)
# Answer C

{40, 10, 50, 20, '10', 60, 30}

In [ ]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange","Blue", "Pink"}
set1.isdisjoint(set2)
# Answer A True

False

In [ ]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)
# answer C

{1, ('abc', 'xyz'), 'PYnative'}

In [ ]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}

set1.difference_update(set2)
print(set1)
# Answer A

{'Black', 'Yellow'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.add("Blue")
sampleSet.add("Orange")
print(sampleSet)
# Answer b

{'Black', 'Orange', 'Blue', 'Yellow'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
#sampleSet.pop("Orange")
sampleSet.discard("Orange")
print(sampleSet)

{'Black', 'Yellow'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
del sampleSet ["Orange"]
# Answer B

TypeError: ignored