In [ ]:
# Question 1
#Answer D

In [ ]:
# Question 2
print(2**3 + (5 + 6) ** (1 + 1))

129

In [ ]:
# Question 3
var = 10
print(type(var))
var = "Hello"
print(type(var))
# d) int and str

<class 'int'>
<class 'str'>

In [ ]:
# Question 4
# Answers b

In [ ]:
# Question 5
a = [1, 2, 3]
a = tuple(a)
a[0] = 2
print(a)

# answer d

TypeError: ignored

In [ ]:
#Question 6
print(type(5 / 2))
print(type(5 // 2))
# answer a

<class 'float'>
<class 'int'>

In [ ]:
# Question 7
a = [1, 2, 3, 4, 5]
sum = 0
for ele in a:
   sum += ele
print(sum)
# answer a

15

In [ ]:
# question 8
count = 0
while(True):
   if count % 3 == 0:
       print(count, end = " ")
   if(count > 15):
       break;
   count += 1
# c) 0 3 6 9 12 15

0 3 6 9 12 15

In [ ]:
# question 9
# a) pointers

In [ ]:
# question 10
def solve(a, b):
  return b if a == 0 else solve(b % a, a)
print(solve(20, 50))
#a) 10

10

In [ ]:
# question 11
def solve(a):
   a = [1, 3, 5]
a = [2, 4, 6]
print(a)
solve(a)
print(a)
# a) [2, 4, 6]. [2, 4, 6]

[2, 4, 6]
[2, 4, 6]

In [ ]:
# Question 12
def func():
   global value
   value = "Local"

value = "Global"
func()
print(value)

Local

In [ ]:
# question 13
#D) all of the above

In [ ]:
# Question 14
a = 3
b = 1
print(a, b)
a, b = b, a
print(a, b)
#a) 31 13

3 1
1 3

In [ ]:
# Question 15
#c) do while

In [ ]:
# Question 16
#a) if ele in list
a=[1,2,3,4]
if 1 in a:
  print(True)

True

In [ ]:
def thrive(n):
 if n % 15 == 0:
   print("thrive", end = " ")
 elif n % 3 != 0 and n % 5 != 0:
   print("neither", end = " ")
 elif n % 3 == 0:
   print("three", end = " ")
 elif n % 5 == 0:
   print("five", end = " ")
thrive(35)
thrive(56)
thrive(15)
thrive(39)
#a) five neither thrive three

five neither thrive three

In [ ]:
def check(a):
   print("Even" if a % 2 == 0 else "Odd")

check(12)
# a) Even

Even