In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("EURAUD_Candlestick_4_Hour_BID-ASK_12.12.2012-12.12.2020.csv")

In [ ]:
df.head(10)

                  Gmt time      Volume      Open      High       Low     Close
0  12.12.2012 00:00:00.000  11011.3902  1.234920  1.235890  1.233830  1.235200
1  12.12.2012 04:00:00.000  13271.5599  1.235210  1.235510  1.233860  1.234340
2  12.12.2012 08:00:00.000  26716.2305  1.234350  1.236370  1.233305  1.234905
3  12.12.2012 12:00:00.000  28430.1602  1.234910  1.237285  1.234850  1.236810
4  12.12.2012 16:00:00.000  33124.1904  1.236800  1.238700  1.236285  1.238205
5  12.12.2012 20:00:00.000  12511.1400  1.238205  1.239455  1.237810  1.238975
6  13.12.2012 00:00:00.000  13014.5603  1.238950  1.239780  1.237800  1.239665
7  13.12.2012 04:00:00.000  13104.6699  1.239685  1.240975  1.239360  1.239555
8  13.12.2012 08:00:00.000  28629.3398  1.239555  1.241140  1.237085  1.238270
9  13.12.2012 12:00:00.000  32854.7207  1.238275  1.240950  1.237255  1.240745

In [ ]:
# Data Preprocessing and Cleaning and EDA
# Making More features from current features to help the model learn better

In [ ]:
# Plot Open vs Close Between any time period entered by the user
# Plot High vs Low Between any time period entered by the user
# Check which months over the year had highest Volume
# Study what are technical Indicators
# See Seasonal Trends in Closing Price and Find out the months for high Volitality